{% extends 'frac/main.html' %}
{% block content %}
<div class="uk-text-center uk-margin">
  <h1 class="uk-text-uppercase">Drivers</h1>
</div>
<div class="uk-padding">
  <button class="uk-button uk-button-primary uk-border-rounded" href="#driver-modal-center" uk-toggle uk-icon="plus-circle">add driver </button>
</div>
{% include 'frac/driver_form.html' %}

<div class="uk-margin-medium-top">
  <ul class="uk-flex-center" uk-tab>
      <li><a href="#">On Duty ({{ onduty }})</a></li>
      <li><a href="#">Off Duty ({{ offduty }})</a></li>
      <li><a href="#">Down ({{ down }})</a></li>
      <li><a href="#">Drivers ({{ total_drivers }})</a></li>
  </ul>
  <ul class="uk-switcher uk-padding">
    <li>
      <div>
        <div class="uk-overflow-auto uk-height-large uk-padding">
          <table id="dispatch_table" class="uk-table uk-table-divider uk-table-hover uk-table-condensed">
            <thead>
              <tr>
                <th>Driver</th>
                <th>Employer</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="uk-text-light">
              {% for driver in drivers %}
              {% if driver.status == 'On Duty' %}
              <tr>
                <td><a href="#">{{ driver.name }}</a></td>
                <td>{{ driver.employer }}</td>
                <td class="uk-text-success">{{ driver.status }}</td>
                <td>
                  <button class="uk-button uk-button-default uk-button-small" type="button">Update</button>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="uk-overflow-auto uk-height-large uk-padding">
          <table id="dispatch_table" class="uk-table uk-table-divider uk-table-hover uk-table-condensed">
            <thead>
              <tr>
                <th>Driver</th>
                <th>Employer</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="uk-text-light">
              {% for driver in drivers %}
              {% if driver.status == 'Off Duty' %}
              <tr>
                <td><a href="#">{{ driver.name }}</a></td>
                <td>{{ driver.employer }}</td>
                <td class="uk-text-danger">{{ driver.status }}</td>
                <td>
                  <button class="uk-button uk-button-default uk-button-small" type="button">Update</button>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="uk-overflow-auto uk-height-large uk-padding">
          <table id="dispatch_table" class="uk-table uk-table-divider uk-table-hover uk-table-condensed">
            <thead>
              <tr>
                <th>Driver</th>
                <th>Employer</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="uk-text-light">
              {% for driver in drivers %}
              {% if driver.status == 'Down' %}
              <tr>
                <td><a href="#">{{ driver.name }}</a></td>
                <td>{{ driver.employer }}</td>
                <td class="uk-text-warning">{{ driver.status }}</td>
                <td>
                  <button class="uk-button uk-button-default uk-button-small" type="button">Update</button>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="uk-overflow-auto uk-height-large uk-padding">
          <table id="dispatch_table" class="uk-table uk-table-divider uk-table-hover uk-table-condensed">
            <thead>
              <tr>
                <th>Driver</th>
                <th>Employer</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="uk-text-light">
              {% for driver in drivers %}
              <tr>
                <td><a href="#">{{ driver.name }}</a></td>
                <td>{{ driver.employer }}</td>
                {% if driver.status == 'On Duty'%}
                <td class="uk-text-success">{{ driver.status }}</td>
                {% elif driver.status == 'Off Duty'%}
                <td class="uk-text-danger">{{ driver.status }}</td>
                {% elif driver.status == 'Down'%}
                <td class="uk-text-warning">{{ driver.status }}</td>
                {% endif %}
                <td>
                  <button class="uk-button uk-button-default uk-button-small" type="button">Update</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </li>
  </ul>
</div>


{% endblock %}