{% extends 'frac/main.html' %}

{% block content %}
<div class="uk-text-center uk-padding">
  <h1 class="uk-text-uppercase">loading facilities</h1>
</div>
<div class="uk-padding">
  <button class="uk-button uk-button-primary uk-border-rounded" href="#facility-modal-center" uk-toggle uk-icon="plus-circle">add loading facility </button>
</div>
{% include 'frac/facility_form.html' %}
<div class="uk-padding">
  <div class="uk-grid-large uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
    {% for facility in facilities %}
    <div class="uk-width-1-3@m">
      <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-card-medium">
        <div class="uk-card-badge uk-label uk-label-success">Active</div>
        <p class="uk-text-bold uk-text-lead uk-margin">{{ facility.name }}</p>
        <div class="uk-text-left">
          <a href="{% url 'facility' facility.id %}" class="uk-button uk-button-text">more info</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}