{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dispatch App</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
  <!-- JQuery UI -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<style>
  body{
    background-color: #F0F0F0;
  }
  .uk-padding-large{
    padding: 50px 30px;
  }
</style>
<body>
  {% include 'frac/navbar.html' %}

  <div class="uk-padding-large">
    {% block content %}
    {% endblock %}
  </div>

  <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>
  <footer>
    <h1 class="uk-padding-large uk-margin-remove">Footer</h1>
  </footer>

</body>
</html>