{% extends 'frac/main.html' %}

{% block content %}

<div class="uk-text-center uk-padding">
  <h1 class="uk-text-uppercase">Operators</h1>
</div>
<div class="uk-padding">
  <button class="uk-button uk-button-primary uk-border-rounded" href="#operator-modal-center" uk-toggle uk-icon="plus-circle">add operator </button>
</div>
{% include 'frac/operator_form.html' %}

<div class="uk-grid-match uk-grid-large uk-padding" uk-grid>
  {% for operator in operators %}
  <div class="uk-width-1-3@m">
    <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-card-medium">
      <div class="uk-card-badge uk-label uk-label-success">Active</div>
      <div class="uk-margin">
        <h3 class="uk-text-center">{{ operator.name }}</h3>
      </div>
      <div class="uk-text-left">
        <a href="{% url 'operator' operator.id %}" class="uk-button uk-button-text">more info</a>
      </div>
    </div>
  </div>
  {% endfor %}
  
  
</div>

{% endblock %}