<div id="delete_operator-modal-center" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div>
      <div id="uk-card-secondary" class="uk-card uk-card-body">
      <form action="{% url 'delete_operator' operator.id %}" method="POST" class="uk-form-stacked">
        {% csrf_token %}
        <p class="uk-text-center">Are you sure you want to delete "{{ operator.name }}"?</p>
      </div>
      <div class="uk-card-footer uk-text-right">
        <a href="{%url 'operator' operator.id %}"><button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button></a>
        <button class="uk-button uk-button-danger" type="submit">Delete</button>
      </div>
      </form>
    </div>
  </div>
</div>


