{% extends 'frac/main.html' %}
{% block content %}
<div class="uk-text-center uk-margin">
  <h2 class="uk-text-uppercase">Service Companies</h2>
</div>
<div class="uk-padding">
  <button class="uk-button uk-button-primary uk-border-rounded" href="#serviceco-modal-center" uk-toggle uk-icon="plus-circle">add service company </button>
</div>
{% include 'frac/serviceco_form.html' %}

<div class="uk-grid-match uk-grid-large uk-padding" uk-grid>
  {% for serviceco in servicecos %}
  <div class="uk-width-1-3@m">
    <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-card-medium">
      <div class="uk-card-badge uk-label uk-label-success">Active</div>
      <div class="uk-margin">
        <h3 class="uk-text-center">{{ serviceco.name }}</h3>
      </div>
      <div class="uk-text-left">
        <a href="{% url 'serviceco' serviceco.id %}" class="uk-button uk-button-text">more info</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}